*{
padding:0;
margin:0;
box-sizing: border-box;
}
h2{
  text-align: center;
}
/* NAvBar */
.navbar{
  height: 70px;
  background-color:black;
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.navlink{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
/* Shopping Card */

.products{
  display: flex;
  margin:100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.eachItem{
  margin: 50px;
  border:1px solid black;
  border-radius: 10px;
 
}
.details{
  display:flex;
  flex-direction: column;
  margin: 10px;
}
button{
  width: 100px;
}
 
/* Card List */

.cart-container{
  padding: 2rem 4rem;
}
.cart-container h1 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles{
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item .cart-container .titles{
  display:grid;
  align-items:center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap:0.5rem;
}
.cart-items{
  display: flex;
  border-top: 1px solid grey;
  padding: 1rem 0;
}
.cart-container .titles .product-title{
  padding-left: 0.5rem;
}
.cart-container .titles .total{
  padding-right:0.5rem;
  justify-self: right;
}
.cart-item .cart-product img{
  width:100px;
  max-width:100%;
  margin-right:1rem;
} 
.cart-item .cart-product button{
  border:none;
  outline: none;
  margin-top:0.7rem;
  cursor: pointer;
  background: none;
}